
@media screen and  (max-width:760px){
    .left{
        display: none;
    }
  .mobile_view{
    display: flex;
    overflow: auto;
  }
 
 .footer{
  padding: 20px;
  text-align: center;
 }
 .img_div{
  width: 100vw;
  height: 500px;
 }
 .img_div img{
  width: 100%;
  height: 100%;
 }
 .right__div{
  position: relative;
  margin-bottom: 125px;
 }

 .acc__img{
  display: none;
 }
.heart{
  right: 45px;
}
}